.tableGrid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 1px;
    border: 1px dotted;
}

.tableGrid > div {
    margin: .5rem;
}

.searchDescription {
    font-size: .85rem;
    margin-bottom: 1rem;
    color: #c6bf69;
}

.noResults {
    text-align: center;
    border: 1px dotted;
    padding: 1rem;
}
