.searchInput {
    min-width: 14rem;
    background: #ebebeb;
    font-size: 1rem;
    padding: .2rem .3rem;
    border-radius: .2rem;
    border: none;

}

.resetBtn {
    background: #ebebeb;
    border-radius: .1rem;
}
