body {
  background: #2b2b2b;
  color: #ccc;
  font-size: 16px;
}

.app {
  margin: 1rem;
  max-width: 50rem;
}

.alignCenter {
  text-align: center;
}

.mar {
  margin: 1rem;
}

.mar-h {
  margin: 0 1rem;
}
